<%= render "/layouts/header" %>
<%= render "/layouts/nav" %>

<div id="add_message">
<br><br>
<h1>新建消息</h1>
<br><br>
<%= render 'form', message: @message %>
<input type = "submit" name="Submit" value="返回" onclick="javascript:window.history.back(-1);">

</div>
