<h1 align="center">编辑课程信息</h1>

<%= render 'form', course: @course %>

<%= link_to '课程详情页', @course %> |
<input type = "submit" name="Submit" value="返回" onclick="javascript:window.history.back(-1);">
