// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "font-awesome";
@import "bootstrap";



a {
    color: #03658c;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
body {
    font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
    background: #dee1e3;
    /** ====================
 * Lista de Comentarios
 =======================*/
}
.comments-container {
    margin: 30px auto 15px;
    padding: 1px;
    width: 768px;
}
.comments-container h1 {
    font-size: 36px;
    color: #283035;
    font-weight: 400;
}
.comments-container h1 a {
    font-size: 18px;
    font-weight: 700;
}
.comments-list {
    margin-top: 30px;
    position: relative;
    /**
 * Lineas / Detalles
 -----------------------*/
}
.comments-list:before {
    content: '';
    width: 2px;
    height: 100%;
    background: #c7cacb;
    position: absolute;
    left: 32px;
    top: 0;
}
.comments-list:after {
    content: '';
    position: absolute;
    background: #c7cacb;
    bottom: 0;
    left: 27px;
    width: 7px;
    height: 7px;
    border: 3px solid #dee1e3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.reply-list:before,
.reply-list:after {
    display: none;
}
.reply-list li:before {
    content: '';
    width: 60px;
    height: 2px;
    background: #c7cacb;
    position: absolute;
    top: 25px;
    left: -55px;
}
.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}
.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}
.reply-list {
    padding-left: 88px;
    clear: both;
    margin-top: 15px;
    /**
 * Avatar
 ---------------------------*/
}
.comments-list .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 99;
    float: left;
    border: 3px solid #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
}
.reply-list .comment-avatar {
    width: 50px;
    height: 50px;
}
.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
    /**
 * Caja del Comentario
 ---------------------------*/
}
.comments-list .comment-box {
    width: 680px;
    float: right;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.comments-list .comment-box:before,
.comments-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #fcfcfc;
    top: 8px;
    left: -11px;
}
.comments-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0, 0, 0, 0.05);
    left: -12px;
}
.reply-list .comment-box {
    width: 610px;
}
.comment-box .comment-head {
    background: #fcfcfc;
    padding: 10px 12px;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #a6a6a6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.comment-box .comment-head i:hover {
    color: #03658c;
}
.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}
.comment-box .comment-name a {
    color: #283035;
}
.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}
.comment-box .comment-content {
    background: #fff;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
.comment-box .comment-name.by-author,
.comment-box .comment-name.by-author a {
    color: #03658c;
}
.comment-box .comment-name.by-author:after {
    content: '楼主';
    background: #03658c;
    color: #fff;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /** =====================
 * Responsive
 ========================*/
}
@media only screen and (max-width: 766px) {
    .comments-container {
        width: 480px;
    }
    .comments-list .comment-box {
        width: 390px;
    }
    .reply-list .comment-box {
        width: 320px;
    }
}

.wrap{
    width:1500px;
    margin:0 auto;
    overflow: hidden;
}
#left{
    position: absolute;
    width:500px;
    height:500px;
    background: #ffffff;
    float: left;
}
#right{
    margin-left: 500px;
    height: 500px;
    background: #ffcccc;
    float: right;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    min-height: 100%;
    text-align: center;
    font-family: Lato, Arial, sans-serif;
    color: #070101;
    background-color: #8572a7;
    
    font-size: 14px;
}
.mii-page {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #eee;
    border-radius: 20px;
    box-shadow: 0 18px 8px -4px rgba(0, 0, 0, .3);
}
.mii-page h1 {
    margin-top: 0;
    margin-bottom: 0.8em;
    font-size: 1.4em;
    color: #222;
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
}
.mii-page h1 small {
    font-size: 0.7em;
    color: #666;
}
.mii-container {
    position: relative;
    overflow: auto;
    width: 100%;
    box-shadow: 0 8px 3px -3px rgba(0, 0, 0, .3);
    background-color: #d9d1c6;
    border-radius: 20px;
}
.mii-container-top {
    position: relative;
    float: left;
    width: 100%;
    padding: 14px 16px 16px 90px;
    min-height: 85px;
}
.mii-container-top .flag {
    float: left;
    width: 50px;
    height: auto;
}
span.mii-name {
    color: #b78974;
    font-size: 1.2em;
    line-height: 1.2em;
}
span.mii-stars {
    float: right;
    color: #0db5a2;
    font-size: 1.4em;
    font-weight: 900;
    margin-right: 20px;
    line-height: 0.8em;
    overflow: hidden;
}
.mii-stars img {
    display: inline-block;
    height: 20px;
    width: auto;
    padding: 4px 2px 0 0;
}
.mii-image {
    display: block;
    position: absolute;
    bottom: 0;
    left: 12px;
    width: 60px;
    height: auto;
}
.mii-gold-stars {
    position: relative;
    display: block;
    float: left;
    margin-left: 0;
    clear: both;
}
.mii-gold-star {
    position: absolute;
    top: 6px;
    background-image: url('/assets/star.png');
    width: 20px;
    height: 20px;
    background-size: 100%;
}
.mii-gold-star.first {
    left: 0;
}
.mii-gold-star.second {
    left: 10px;
}
.mii-gold-star.third {
    left: 20px;
}
.mii-gold-star.fourth {
    left: 40px;
}
.mii-gold-star.fifth {
    left: 40px;
}
.mii-gold-star-dots {
    display: none;
    position: absolute;
    left: 64px;
    line-height: 0;
    top: 20px;
    letter-spacing: 6px;
    color: #d7bdae;
}
.mii-container-bottom {
    position: relative;
    float: left;
    width: 100%;
    background-color: #d7bdae;
    padding: 1px 5px 4px 90px;
}
@media screen and (min-width: 265px) {
    span.mii-name {
        font-size: 1.8em;
        line-height: 1.3em;
    }
    span.mii-stars {
        font-size: 2em;
    }
    .mii-stars img {
        height: 27px;
    }
}
@media screen and (min-width: 290px) {
    .mii-page h1 {
        font-size: 1.6em;
    }
    .mii-container-top {
        padding-left: 110px;
    }
    .mii-container-bottom {
        padding-left: 110px;
    }
    .mii-image {
        width: 70px;
        left: 18px;
    }
}
@media screen and (min-width: 325px) {
    .mii-container-top {
        padding-left: 140px;
    }
    .mii-image {
        left: 35px;
    }
    .mii-container-bottom {
        padding-left: 140px;
    }
}
@media screen and (min-width: 415px) {
    .mii-container-top {
        padding-top: 24px;
    }
    .mii-gold-stars {
        clear: none;
        margin-left: 20px;
    }
    .mii-container-top .flag {
        width: 80px;
    }
    .mii-gold-star {
        top: 3px;
        width: 34px;
        height: 34px;
    }
    .mii-gold-star.second {
        left: 12px;
    }
    .mii-gold-star.third {
        left: 24px;
    }
}
@media screen and (min-width: 515px) {
    .mii-page h1 {
        font-size: 3em;
    }
    .mii-gold-star-dots {
        display: block;
    }
}


#header-top
{
  margin: 0;
  padding: 0;
  height: 35px;
  color: #d5d5d5;
  background-color: #545652;
  min-width: 950px;
}

.header-top-left .header-top-right
{
  list-style-type: none;
  padding: 0;
}

.header-top-right .header-top-left li
{
  padding: 10px;
  display: inline;
}

.header-top-left  li
{
  float: left;
}

.header-top-right  li
{
  float: right;
}


#header-top a:visited, .header-top a:hover, .header-top a:active 
{
    color: #d5d5d5;
    background: #888888;
 }

.header-top-left .header-top-right ul 
{
    margin: 0;
    padding: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.header-top-left  li a
{
  display: inline-block;
  zoom: 1;
  padding: 6px 12px 0 20px;
  height: 28px;
}

.header-top-right li a
{
  display: inline-block;
  zoom: 1;
  padding: 6px 12px 0 5px;
  height: 28px;
} 

#header-top a:visited, .header-top a:hover, .header-top a:active {
    color: #d5d5d5;
    background: #888888;
 }

 .outside{
    display: grid;
    grid-template-columns: 400px 1300px;
    grid-template-rows: 400px 400px;
    grid-gap: 20px 20px;
 }
 .inner-pannel{
   margin:10px;
   width: 545px;
 }
 .insider{
    overflow-y:scroll;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3; 
 }


 //sss




 .rating {
    --active: #FFED76;
    --active-pale: rgba(255, 237, 118, .36);
    --inactive: #121621;
    --face-active: #121621;
    --face-inactive: #1C212E;
    display: flex;
    position: relative;
  }
  @media (min-width: 600px) {
    .rating {
      zoom: 2;
    }
  }
  .rating ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    color: var(--inactive);
  }
  .rating ul li {
    --face: var(--face-inactive);
    cursor: pointer;
    position: relative;
  }
  .rating ul li:before, .rating ul li:after {
    content: '';
    position: absolute;
    z-index: 2;
    transition: all .2s ease;
  }
  .rating ul li:before {
    --r: 0deg;
    width: 2px;
    height: 2px;
    border-radius: 1px;
    top: 15px;
    left: 13px;
    -webkit-transform: rotate(var(--r));
            transform: rotate(var(--r));
    -webkit-filter: drop-shadow(8px 0 0 var(--face));
            filter: drop-shadow(8px 0 0 var(--face));
  }
  .rating ul li span {
    width: 2px;
    height: 2px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    margin: -1px 0 0 -1px;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0;
    box-shadow: 16px -16px 0 var(--active-pale), -16px -16px 0 var(--active-pale), -21px 8px 0 var(--active-pale), 21px 8px 0 var(--active-pale), 0 22px 0 var(--active-pale);
  }
  .rating ul li:nth-child(1):after {
    width: 10px;
    height: 10px;
    top: 20px;
    left: 13px;
    border-radius: 50%;
    border: 1px solid transparent;
    border-top-color: var(--face);
  }
  .rating ul li:nth-child(3):after {
    width: 6px;
    left: 15px;
    top: 20px;
    height: 1px;
    background: var(--face);
  }
  .rating ul li:nth-child(4):after {
    width: 10px;
    height: 10px;
    top: 12px;
    left: 13px;
    border-radius: 50%;
    border: 1px solid transparent;
    border-bottom-color: var(--face);
  }
  .rating ul li:nth-child(4).current {
    -webkit-animation: active-4 .4s ease;
            animation: active-4 .4s ease;
  }
  .rating ul li:nth-child(4).current span {
    -webkit-animation: active-span .32s ease;
            animation: active-span .32s ease;
  }
  .rating ul li:nth-child(5):after {
    width: 6px;
    height: 3px;
    left: 15px;
    top: 20px;
    border-radius: 0 0 3px 3px;
    background: var(--face);
  }
  .rating ul li:nth-child(5).current {
    -webkit-animation: active-5 .72s ease;
            animation: active-5 .72s ease;
  }
  .rating ul li:nth-child(5).current span {
    -webkit-animation: active-span .32s ease;
            animation: active-span .32s ease;
  }
  .rating ul li.current {
    --face: var(--face-active);
  }
  .rating ul li.current svg {
    color: var(--active);
    fill: rgba(0, 0, 0, 0.2);
  }
  .rating ul li:not(.current) svg {
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
  }
  .rating ul li:not(.current):active svg {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .rating ul li:not(:last-child) {
    margin: 0 16px 0 0;
  }
  .rating ul li:not(:last-child):before {
    background: var(--face);
  }
  .rating ul li:not(:last-child).current:before {
    -webkit-animation: blink 3s linear infinite;
            animation: blink 3s linear infinite;
  }
  .rating ul li:last-child:before {
    --r: -45deg;
    width: 3px;
    height: 3px;
    border-top: 1px solid var(--face);
    border-right: 1px solid var(--face);
    border-radius: 0 1px 0 0;
    left: 12px;
    -webkit-filter: drop-shadow(6px 6px 0 var(--face));
            filter: drop-shadow(6px 6px 0 var(--face));
  }
  .rating svg {
    width: 36px;
    height: 34px;
    display: block;
    fill: rgba(0, 0, 0, 0.04);
  }
  .rating > div {
    left: 0;
    top: 0;
    position: absolute;
    display: none;
    -webkit-transform: translateX(var(--x));
            transform: translateX(var(--x));
    transition: -webkit-transform 0.3s cubic-bezier(0, 0, 0.265, 1.1) 0.24s;
    transition: transform 0.3s cubic-bezier(0, 0, 0.265, 1.1) 0.24s;
    transition: transform 0.3s cubic-bezier(0, 0, 0.265, 1.1) 0.24s, -webkit-transform 0.3s cubic-bezier(0, 0, 0.265, 1.1) 0.24s;
  }
  .rating > div span {
    display: block;
  }
  .rating > div span svg {
    color: var(--active);
    fill: rgba(0, 0, 0, 0.2);
  }
  .rating.animate-left > div, .rating.animate-right > div {
    display: block;
  }
  .rating.animate-left > div span, .rating.animate-right > div span {
    -webkit-animation: scale .28s linear .24s;
            animation: scale .28s linear .24s;
  }
  .rating.animate-left li.move-to:before {
    -webkit-animation: move-to-left .31s ease .36s;
            animation: move-to-left .31s ease .36s;
  }
  .rating.animate-left li.move-from:before {
    -webkit-animation: move-to-right .28s ease;
            animation: move-to-right .28s ease;
  }
  .rating.animate-left > div {
    -webkit-animation: double-left .32s linear .24s;
            animation: double-left .32s linear .24s;
  }
  .rating.animate-left > div span svg {
    -webkit-animation: left .3s ease, right-end .4s ease .4s;
            animation: left .3s ease, right-end .4s ease .4s;
  }
  .rating.animate-right li.move-to:before {
    -webkit-animation: move-to-right .31s ease .36s;
            animation: move-to-right .31s ease .36s;
  }
  .rating.animate-right li.move-from:before {
    -webkit-animation: move-to-left .28s ease;
            animation: move-to-left .28s ease;
  }
  .rating.animate-right > div {
    -webkit-animation: double-right .32s linear .24s;
            animation: double-right .32s linear .24s;
  }
  .rating.animate-right > div span svg {
    -webkit-animation: right .3s ease, left-end .4s ease .4s;
            animation: right .3s ease, left-end .4s ease .4s;
  }
  
  @-webkit-keyframes active-4 {
    40% {
      -webkit-transform: scale(1.25);
              transform: scale(1.25);
    }
  }
  
  @keyframes active-4 {
    40% {
      -webkit-transform: scale(1.25);
              transform: scale(1.25);
    }
  }
  @-webkit-keyframes active-span {
    60% {
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1.16);
              transform: scale(1.16);
      opacity: 0;
    }
  }
  @keyframes active-span {
    60% {
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1.16);
              transform: scale(1.16);
      opacity: 0;
    }
  }
  @-webkit-keyframes active-5 {
    15% {
      -webkit-transform: rotate(180deg) scale(1.1);
              transform: rotate(180deg) scale(1.1);
    }
    30% {
      -webkit-transform: rotate(360deg) scale(1.2);
              transform: rotate(360deg) scale(1.2);
    }
    70% {
      -webkit-transform: rotate(360deg) translateY(14%) scaleY(0.72);
              transform: rotate(360deg) translateY(14%) scaleY(0.72);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes active-5 {
    15% {
      -webkit-transform: rotate(180deg) scale(1.1);
              transform: rotate(180deg) scale(1.1);
    }
    30% {
      -webkit-transform: rotate(360deg) scale(1.2);
              transform: rotate(360deg) scale(1.2);
    }
    70% {
      -webkit-transform: rotate(360deg) translateY(14%) scaleY(0.72);
              transform: rotate(360deg) translateY(14%) scaleY(0.72);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @-webkit-keyframes double-right {
    60% {
      -webkit-filter: drop-shadow(-5px 0 1px var(--active-pale)) drop-shadow(4px 0 1px var(--active-pale));
              filter: drop-shadow(-5px 0 1px var(--active-pale)) drop-shadow(4px 0 1px var(--active-pale));
    }
  }
  @keyframes double-right {
    60% {
      -webkit-filter: drop-shadow(-5px 0 1px var(--active-pale)) drop-shadow(4px 0 1px var(--active-pale));
              filter: drop-shadow(-5px 0 1px var(--active-pale)) drop-shadow(4px 0 1px var(--active-pale));
    }
  }
  @-webkit-keyframes scale {
    60% {
      -webkit-transform: scaleX(1.32);
              transform: scaleX(1.32);
      -webkit-filter: blur(0.5px);
              filter: blur(0.5px);
    }
  }
  @keyframes scale {
    60% {
      -webkit-transform: scaleX(1.32);
              transform: scaleX(1.32);
      -webkit-filter: blur(0.5px);
              filter: blur(0.5px);
    }
  }
  @-webkit-keyframes blink {
    0%,
      5%,
      15%,
      100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
    10% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
    }
  }
  @keyframes blink {
    0%,
      5%,
      15%,
      100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
    10% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
    }
  }
  @-webkit-keyframes double-left {
    60% {
      -webkit-filter: drop-shadow(5px 0 1px var(--active-pale)) drop-shadow(-4px 0 1px var(--active-pale));
              filter: drop-shadow(5px 0 1px var(--active-pale)) drop-shadow(-4px 0 1px var(--active-pale));
    }
  }
  @keyframes double-left {
    60% {
      -webkit-filter: drop-shadow(5px 0 1px var(--active-pale)) drop-shadow(-4px 0 1px var(--active-pale));
              filter: drop-shadow(5px 0 1px var(--active-pale)) drop-shadow(-4px 0 1px var(--active-pale));
    }
  }
  @-webkit-keyframes right {
    0%,
      100% {
      -webkit-transform-origin: 17% 100%;
              transform-origin: 17% 100%;
    }
    50% {
      -webkit-transform: rotate(-12deg) skewX(12deg);
              transform: rotate(-12deg) skewX(12deg);
    }
  }
  @keyframes right {
    0%,
      100% {
      -webkit-transform-origin: 17% 100%;
              transform-origin: 17% 100%;
    }
    50% {
      -webkit-transform: rotate(-12deg) skewX(12deg);
              transform: rotate(-12deg) skewX(12deg);
    }
  }
  @-webkit-keyframes left {
    0%,
      100% {
      -webkit-transform-origin: 83% 100%;
              transform-origin: 83% 100%;
    }
    50% {
      -webkit-transform: rotate(12deg) skewX(-12deg);
              transform: rotate(12deg) skewX(-12deg);
    }
  }
  @keyframes left {
    0%,
      100% {
      -webkit-transform-origin: 83% 100%;
              transform-origin: 83% 100%;
    }
    50% {
      -webkit-transform: rotate(12deg) skewX(-12deg);
              transform: rotate(12deg) skewX(-12deg);
    }
  }
  @-webkit-keyframes right-end {
    0%,
      100% {
      -webkit-transform-origin: 17% 100%;
              transform-origin: 17% 100%;
    }
    40% {
      -webkit-transform: rotate(-6deg) skewX(4deg) scaleX(0.92);
              transform: rotate(-6deg) skewX(4deg) scaleX(0.92);
    }
    70% {
      -webkit-transform: rotate(1deg) skewX(-8deg) scaleX(1.04);
              transform: rotate(1deg) skewX(-8deg) scaleX(1.04);
    }
  }
  @keyframes right-end {
    0%,
      100% {
      -webkit-transform-origin: 17% 100%;
              transform-origin: 17% 100%;
    }
    40% {
      -webkit-transform: rotate(-6deg) skewX(4deg) scaleX(0.92);
              transform: rotate(-6deg) skewX(4deg) scaleX(0.92);
    }
    70% {
      -webkit-transform: rotate(1deg) skewX(-8deg) scaleX(1.04);
              transform: rotate(1deg) skewX(-8deg) scaleX(1.04);
    }
  }
  @-webkit-keyframes left-end {
    0%,
      100% {
      -webkit-transform-origin: 83% 100%;
              transform-origin: 83% 100%;
    }
    40% {
      -webkit-transform: rotate(6deg) skewX(-4deg) scaleX(0.92);
              transform: rotate(6deg) skewX(-4deg) scaleX(0.92);
    }
    70% {
      -webkit-transform: rotate(-1deg) skewX(8deg) scaleX(1.04);
              transform: rotate(-1deg) skewX(8deg) scaleX(1.04);
    }
  }
  @keyframes left-end {
    0%,
      100% {
      -webkit-transform-origin: 83% 100%;
              transform-origin: 83% 100%;
    }
    40% {
      -webkit-transform: rotate(6deg) skewX(-4deg) scaleX(0.92);
              transform: rotate(6deg) skewX(-4deg) scaleX(0.92);
    }
    70% {
      -webkit-transform: rotate(-1deg) skewX(8deg) scaleX(1.04);
              transform: rotate(-1deg) skewX(8deg) scaleX(1.04);
    }
  }
  @-webkit-keyframes move-to-right {
    40% {
      -webkit-transform: translateX(3px) rotate(var(--r));
              transform: translateX(3px) rotate(var(--r));
    }
  }
  @keyframes move-to-right {
    40% {
      -webkit-transform: translateX(3px) rotate(var(--r));
              transform: translateX(3px) rotate(var(--r));
    }
  }
  @-webkit-keyframes move-to-left {
    40% {
      -webkit-transform: translateX(-3px) rotate(var(--r));
              transform: translateX(-3px) rotate(var(--r));
    }
  }
  @keyframes move-to-left {
    40% {
      -webkit-transform: translateX(-3px) rotate(var(--r));
              transform: translateX(-3px) rotate(var(--r));
    }
  }
  html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  
  * {
    box-sizing: inherit;
  }
  *:before, *:after {
    box-sizing: inherit;
  }
  

//....
 .error_explanation
{
  align:center;
}

.field
{
  align:center;
}

.actions
{
    align:center;
}

#add_course
{
    border: 2px solid;
    margin:0 aotu;
    width: 350px; 
    height: 400px; 
    position: absolute; left:50%; 
    top:40%; 
    transform:translate(-50%,-50%);
    box-shadow:2px 2px 10px #000;
    text-align:center;
}

#add_course .field
{
    text-align:left;
    padding-left:20px;
    margin:0 0 20px 40px;
}




#add_course label
{
    text-align:left;
    padding:0;
    font-size:13px;
    margin:0;
    width:60px;
}

#add_course input[type="text"] {
    vertical-align: top;
    border-radius: 3px;
    outline-style: none;
    border: 1px solid #ccc;
    width: 150px;
    font-size: 13px;
    font-family: "Microsoft soft";
}

#add_course input[type=submit]
{
    width: 90px;
    height: 25px;
}

//bg





.child {
  position: absolute;
  top: 0%;
  left: 0%;
}
svg {
  width:100%;
  height: 100%;
}
//bg



//card
*, *:before, *:after {
  box-sizing: border-box;
}


.content {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; 
    background:rgba(255,0,255,0);
}

.heading {
  width: 100%;
  margin-left: 1rem;
  font-weight: 900;
  font-size: 1.618rem;
  text-transform: uppercase;
  letter-spacing: .1ch;
  line-height: 1;
  padding-bottom: .5em;
  margin-bottom: 1rem;
  position: relative;
}
.heading:after {
  display: block;
  content: '';
  position: absolute;
  width: 60px;
  height: 4px;
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
  bottom: 0;
}

.description {
  width: 100%;
  margin-top: 0;
  margin-left: 1rem;
  margin-bottom: 3rem;
}

.card {
  color: inherit;
  cursor: pointer;
  width: calc(33% - 2rem);
  min-width: calc(33% - 2rem);
  height: 400px;
  min-height: 400px;
  perspective: 1000px;
  margin: 1rem;
  position: relative;
  background:rgba(255,0,255,0);
  border-radius: 25px;
  
}
@media screen and (max-width: 800px) {
  .card {
    width: calc(50% - 2rem);
  }
}
@media screen and (max-width: 500px) {
  .card {
    width: 100%;
  }
}

.front,
.back {
  display: flex;
  border-radius: 25px;
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
}

.front {
  background-size: cover;
  padding: 2rem;
  font-size: 1.618rem;
  font-weight: 600;
  color: #fff;
  overflow: hidden;
  font-family: Poppins, sans-serif;
  
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
}
.front:before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
  opacity: .25;
  z-index: -1;
}
.card:hover .front {
  transform: rotateY(180deg);
}
.card:nth-child(even):hover .front {
  transform: rotateY(-180deg);
}

.back {
  background: #fff;
  transform: rotateY(-180deg);
  padding: 0 2em;
}
.card:hover .back {
  transform: rotateY(0deg);
}
.card:nth-child(even) .back {
  transform: rotateY(180deg);
}
.card:nth-child(even):hover .back {
  transform: rotateY(0deg);
}

.button {
  transform: translateZ(40px);
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-weight: bold;
  color: #fff;
  padding: .5em 1em;
  border-radius: 100px;
  font: inherit;
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
  border: none;
  position: relative;
  transform-style: preserve-3d;
  transition: 300ms ease;
  margin: 7px;
}
.button:before {
  transition: 300ms ease;
  position: absolute;
  display: block;
  content: '';
  transform: translateZ(-40px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  border-radius: 100px;
  left: 10px;
  top: 16px;
  box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
  background-color: rgba(26, 87, 230, 0.25);
}
.button:hover {
  transform: translateZ(55px);
}
.button:hover:before {
  transform: translateZ(-55px);
}
.button:active {
  transform: translateZ(20px);
}
.button:active:before {
  transform: translateZ(-20px);
  top: 12px;
}

//打分
.star-rating {
  font-family: 'FontAwesome';
  margin: 50px auto;
}
.star-rating > fieldset {
  border: none;
  display: inline-block;
}
.star-rating > fieldset:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}
.star-rating > fieldset:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 .05em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  color: #16a085;
}
.star-rating > fieldset:not(:checked) > label:before {
  content: '\f006  ';
}
.star-rating > fieldset:not(:checked) > label:hover,
.star-rating > fieldset:not(:checked) > label:hover ~ label {
  color: #1abc9c;
  text-shadow: 0 0 3px #1abc9c;
}
.star-rating > fieldset:not(:checked) > label:hover:before,
.star-rating > fieldset:not(:checked) > label:hover ~ label:before {
  content: '\f005  ';
}
.star-rating > fieldset > input:checked ~ label:before {
  content: '\f005  ';
}
.star-rating > fieldset > label:active {
  position: relative;
  top: 2px;
}
body {
  background: #262829;
  color: #95a5a6;
  font-family: 'Raleway';
  text-align: center;
}
body p {
  font-size: 1.6em;
  margin: auto;
  width: 80%;
}
body a {
  color: #16a085;
}


//打分

//打分


#edit_course
{
    border: 2px solid;
    margin:0 aotu;
    width: 350px; 
    height: 450px; 
    position: absolute; left:50%; 
    top:40%; 
    transform:translate(-50%,-50%);
    box-shadow:2px 2px 10px #000;
    text-align:center;
}

#edit_course .field
{
    text-align:left;
    padding-left:5px;
    margin:0 0 20px 40px;
}




#edit_course label
{
    text-align:left;
    padding:0;
    font-size:13px;
    margin:0;
    width:60px;
}

#edit_course input[type="text"] {
    vertical-align: top;
    border-radius: 3px;
    outline-style: none;
    border: 1px solid #ccc;
    width: 180px;
    font-size: 13px;
    font-family: "Microsoft soft";
}


#edit_course .gen_sel select {
    vertical-align: top;
    border-radius: 3px;
    outline-style: none;
    border: 1px solid #ccc;
    width: 180px;
    font-size: 13px;
    font-family: "Microsoft soft";
}


#edit_course input[type=submit]
{
    width: 90px;
    height: 25px;
}
