@import "bootstrap";

#header-top
{
  margin: 0;
  padding: 0;
  height: 35px;
  color: #d5d5d5;
  background-color: #545652;
  min-width: 950px;
}

.header-top-left
{
  list-style-type: none;
  padding: 0;
}

.header-top-left ul {
    margin: 0;
    padding: 0;
	display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.header-top-left li
{
  margin-left:40px;
  float: left;
  display: inline;
}


.header-top-left li a{
  margin-top:5px;
  display: inline-block;
  zoom: 1.2;
  padding: 0 12px;
  height: 28px;
}

#header-top a:visited, .header-top a:hover, .header-top a:active {
    color: #d5d5d5;
    background: #888888;
 }