// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

<<<<<<< HEAD
#add_messages
{
    border: 2px solid;
    margin:0 aotu;
    width: 350px; 
    height: 400px; 
    position: absolute; left:50%; 
    top:40%; 
    transform:translate(-50%,-50%);
    box-shadow:2px 2px 10px #000;
=======
.messages_table {
    border-collapse:collapse;
    margin:0 auto;
    width:100%;
    text-align:center;
}

.messages_table th {
    background-color:#ddccdd;
}

.messages_table th,.messages_table td {
    border:1px solid #CECFCE;
    padding:10px;
    height:25px;
}

.messages_table tr td:first-child {
    width:125ch;
>>>>>>> 03486cc41b3c02c65a037c9ce5f8a8242caebca8
}
